.Notification{
    display: flex;
    .container{
        background-color: #2B2B2B;
        flex:4;
        color: white;
        padding-left: 60px;
        padding-top: 50px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}