.Notification{
    display: flex;
    .container{
        background-color: #2B2B2B;
        flex:4;
        color: white;
        padding-left: 60px;
        padding-top: 50px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        .contentcontainer{
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            width:85%;
            height: 70vh;
            overflow-y: scroll;

            .NotifBox{
                display: flex;
                flex-direction: column;
                .time{
                    font-size: 20px;
                    margin-bottom: 5px;
                    color: #d9d9d9;
                }
                .NotifContain{
                    background-color: #FFBD59;
                    filter: brightness(80%);
                    min-height: 40px;
                    padding: 5px;
                    border-radius: 20px;
                    margin-top: 5px;
                    margin-bottom: 30px;
                    padding-top: 10px;
                    padding-left: 10px;
                    margin-right: 20px;
                    
                }
            }
        }
    }
}