.Home {
  display: flex;
  .container {
    background-color: #2b2b2b;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    flex: 4;
    padding-left: 60px;
    padding-top: 50px;
    .title {
      color:#fcbc5b;
      font-size: 40px;
    }
    .contentcontainer{
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      width: 85%;
      color: white;
      // font-size: 24px;
      .row1{
        display: flex;
        flex-direction: row-reverse;
        margin-top: 40px;
        justify-content: flex-start;
        gap: 30px;
        // background-color: white;
        .redirect{
          text-decoration: none;
            color: #2b2b2b;
            // margin-left:2px;
        }
        .icon{
          font-size: 10px;
          height: 25px;
          width: 25px;
         
        }
        .item{
          height: 55px;
          width: 160px;
          border-radius: 30px;
          background-color: #fcba5797;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          align-items: center;
          font-size: 15px;
          
        }
        .item:hover{
          background-color: #fcba57ce;
          transition: 0.5s;
          cursor: pointer;
        }
      }
      .row2{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 80px;
        margin-top: 50px;
        .ActPie {
          display: flex;
          justify-content: center;
          object-fit: contain;
          // margin-left: 30px;
          .Pie {
            height: 90%;
          }
        }
      }
    }
  }
}