
.List{
    display: flex;
    color:#FFBD59;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    
    
}

.Logo{
    height:20%;
    width: 50%;
}

    /* Start of menu */

.Menu{
    display: flex;
    flex-direction: column;
    
}
.icon{
    height:37px;
    width:37px;
    margin-left: 20px;
    margin-right: 25px;
}


.MenuItem{
    display: flex;
    align-items: center;
    height:50px;
    width: 110%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 23px;

}
.MenuItem:hover{
    cursor: pointer;
}
.active{

    display: flex;
    align-items: center;
    background-color: #141414;
    height:50px;
    width: 110%;
    border-radius: 14px;
    padding-left: 13px;
}

.LogOut{
    margin-left: 40px;
    margin-top: 30px;
    
}

