.Upload{
    display: flex;
    .container{
    background-color: #2b2b2b;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    flex: 4;
    padding-left: 60px;
    padding-top: 50px;
    .header{
        margin-top: 120px;
        margin-bottom: 50px;
        color: white;
        font-size: 30px;
    }
    .form{
        color:white;
    .button{
        height: 300px;
        
    }
    }
    
    }
}